.header {
    z-index: 2;
    background: linear-gradient(90deg, #003e52, #199ab4);
    color: white;
    position: sticky;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    height: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-top: 3em;
}

.post {
    margin-bottom: 3em;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    width: 614px;
    height: auto;
}
.post-title {
    padding: 1em 1em 0em 1em;
    font-family: Segoe Ui;
    font-weight: bold;
    color: black;
    margin: 0px 0px 10px 0px;
}
.post-img {
    width: 614px;
    height: auto;
}
.post-text {
    font-family: Segoe Ui;
    color: black;
    padding: 0em 1em 0em 1em;
}
.post-author {
    font-size: 0.9em;
    padding: 0em 1em 1em 1em;
}

.post-archive-menu {
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #003e52;
    border-radius: 10px;
    top: 7em;
    right: 3em;
    position: fixed;
    padding: 1em 1em 2em 1em;
}
.post-archive-p {
    font-family: Segoe Ui;
    font-size: 0.9;
}
.post-archive-a {
    font-family: Segoe Ui;
    font-size: 0.9em;
    background: linear-gradient(90deg, #003e52, #199ab4);
    color: white;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    border-radius: 5px;
}